body {
    margin: 0;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%
}

.label-topic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    font: 10px Arial;
}

/*.label-topic {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 1;*/
    /*padding: 5px;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*background: rgba(0, 0, 0, 0.8);*/
    /*border-radius: .5em;*/
    /*font: 10px Arial;*/
    /*line-height: 1;*/
/*}*/


.label-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 6px;
    color: #fff;
    /*border: 2px solid #fff;*/
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: .5em;
    font: 12px Arial;
    line-height: 1.1;
}

.hide {
    visibility: hidden
}

.large {
    padding: 12px;
}